body {
    font-family: "sans-serif";
    margin: 10px 80px;
}
.navbar-bg div ul {
    background-color: #3439D1 !important;
}
nav.navbar .navbar-expand-md .navbar-b {
    background: #000;
}
.navbar-bg a {
    font-size: 13px !important;
    color: black !important;
    margin: 13px !important;
}
nav {
    background-color: #000;
}
.create-formular form{
    margin: auto; 
     justify-content: space-around;
    padding-top: 40px;
}
.create-formular {
    /* border: 1px solid #4b2e32; */

}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
    width: 130%;
    height: 99vh;
    border-radius: 18px;
}
form legend.head-legend {
    margin: auto;
}
.w-20 {
    width: 46px;
}
.formular {
    width: 40%;
}
label.label-input {
    width: 165px;
    display:inline-block;
    font-size: 21px;
    font-family: cursive;
}
.input-tall {
    width: 371px;
    height: 60px;
    margin-top: 9px;
    font-size: 23px;
    border-radius: 11px;
    border: 1px solid #cccbb2;
}

/*Control_Student*/

input.date-style-input {
    height: 4vh;
    width: 248px;
    /* background-color: cyan;*/
    border: 0px solid aqua;
    font-size: xx-large;
}
input.date-style-input:hover {
    cursor: pointer;
}
input.presence-radio-input {
    width: 93px;
    height: 30px;
}
input.presence-radio-input:hover {
    cursor: pointer;
}
.icon-editign, .icon-suppr {
    height: 30px;
    border-radius: 9px;
}